<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
		table {
			border-collapse: collapse;
			margin: 0 auto;
			/* Margen automático para centrar horizontalmente */

		}

		td,
		th {
			border: 1px solid darkgray;
			padding: 8px;
			text-align: center;
		}
	</style>
</head>
<body>
<h1 th:text="${tituloH1}"></h1>
<a th:href="@{/articulo/form-a}" style="text-decoration: none;">Añadir artículo</a>
<p th:text="'Total de artículos: ' + ${cantidad}"></p>
<table>
	<thead>
		<tr>
			<td>ID</td>
			<td>TIPO</td>
			<td>MARCA</td>
			<td>MODELO</td>
			<td>CANTIDAD</td>
			<td>ACCIONES</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="articulo : ${articulos}">
			<td th:text="${articulo.id}"></td>
			<td th:text="${articulo.tipo}"></td>
			<td th:text="${articulo.marca}"></td>
			<td th:text="${articulo.modelo}"></td>
			<td th:text="${articulo.cantidadArticulos}"></td>
			<td>
				<a th:href="@{/articulo/borrar/} + ${articulo.id}" style="text-decoration: none;color: red;">BORRAR</a>
				<a th:href="@{/articulo/form-a/} + ${articulo.id}" style="text-decoration: none;">EDITAR</a>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>